<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="app.css" type="text/css">
  <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
    crossorigin="anonymous">
    </script>
  <title>TodoList</title>
</head>

<body>
  <h1 class="header">todo<span class="header-second">list</span>
  </h1>
  <p class="subtitle">A simple todo list app built with node</p>
  <form action="" class="form">
    <input type="text" id="todoInput" class="input" autocomplete="off" placeholder="Insert your task here...">
  </form>

  <ul class="list"></ul>

  <script src="app.js"></script>
</body>

</html>